@using VietQR.Models.Repository
@{ 
    QRRepository QR_Rep = new QRRepository();
    var ListBank_EV = QR_Rep.ListBank_EV();
    var ListBank = QR_Rep.ListBank();

    var member_kh = "";
    try
    {
        member_kh = Context.User.Claims.First(claim => claim.Type == "member_kh").Value;
    }
    catch (Exception)
    {

    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <!-- Font Awesome Icons -->
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/plugins/owl-carousel/responsiveslides.css" rel="stylesheet" />
    <link href="~/css/custom.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- CSS Flight -->
    <link href="~/css/FlightScheduleOnline_files/DepartureAOCC.css" rel="stylesheet" />
    <link href="~/css/FlightScheduleOnline_files/ArrivalBeltLandscape.css" rel="stylesheet" />
    <link href="~/css/FlightScheduleOnline_files/navbottom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini" style="background:#fff;">
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="limiter">
                            <div class="container-login100" style="">
                                <div class="modal-content" style=" margin: 10px 0px !important; box-shadow: 0 .20rem .2rem rgba(0, 0, 0, .2) !important; border: 0px;">
                                    <ul class="nav nav-tabs" style=" border-bottom: 1px solid #ddd !important; background: #eee; border-radius: 8px 8px 0px 0px; margin-bottom: 10px; " id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="btn btn-primary active" style="margin-bottom:1px;" id="Topup-tab" data-toggle="tab" href="#Topup" role="tab" aria-controls="Topup" aria-selected="true">TOPUP ENVIET</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="btn btn-primary" style="margin-bottom:1px;" id="QR-tab" data-toggle="tab" href="#QR" role="tab" aria-controls="QR" aria-selected="false">TẠO QR CHUYỂN KHOẢN</a>
                                        </li>
                                    </ul>
                                    <div class="modal-body" style="padding: 0 10px; background: #ffffff;">
                                        <div class="tab-content popup" id="myTabContent" style="min-height: 560px;">
                                            <div class="tab-pane fade active" id="Topup" role="tabpanel" aria-labelledby="Topup-tab">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="contain-form">
                                                            <div class="text-center contain-logo">
                                                                <img src="~/images/logoev.png" />
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="MaKH" class="col-md-3 col-xs-12 col-form-label">Mã KH</label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <input type="text" readonly class="form-control" id="MaKH" name="MaKH" placeholder="KHxxxxx" value="@member_kh">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="Bank" class="col-md-3 col-xs-12 col-form-label">Ngân hàng </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <select class="form-control" id="Bank_EV" name="Bank_EV" onchange="Bank_Account_EV()" required>
                                                                        @for (int i = 0; i < ListBank_EV.Count; i++)
                                                                        {
                                                                            <option value="@ListBank_EV[i].Bin">@ListBank_EV[i].ShortName</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="AccountName" class="col-md-3 col-xs-12 col-form-label">Chủ tài khoản </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <input type="text" readonly class="form-control" id="AccountName_EV" name="AccountName_EV" placeholder="Chủ tài khoản">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="AccountNo" class="col-md-3 col-xs-12 col-form-label">Số tài khoản </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <input type="text" readonly class="form-control" id="AccountNo_EV" name="AccountNo_EV" placeholder="Số tài khoản">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="SelectAmount" class="col-md-3 col-xs-12 col-form-label">Chọn số tiền </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <select class="form-control" id="SelectAmount" name="SelectAmount" onchange="SelectAmount()">
                                                                        <option value="10000000">10,000,000</option>
                                                                        <option selected value="20000000">20,000,000</option>
                                                                        <option value="30000000">30,000,000</option>
                                                                        <option value="40000000">40,000,000</option>
                                                                        <option value="50000000">50,000,000</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="Amount" class="col-md-3 col-xs-12 col-form-label">Số tiền </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <input type="text" class="form-control" id="Amount_EV" name="Amount_EV" placeholder="Số tiền" value="20,000,000" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="AddInfo" class="col-md-3 col-xs-12 col-form-label">Nội dung</label>
                                                                <div class="col-md-8 col-xs-11">
                                                                    <input type="text" readonly class="form-control" id="AddInfo_EV" name="AddInfo_EV" required>
                                                                </div>
                                                                <div class="col-md-1 col-xs-1" style="padding-top: 10px;">
                                                                    <a class="Edit" style="color:blue;" href="#" onclick="Edit_AddInfo_EV()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group text-right">
                                                                <a class="btn btn-primary" href="#" onclick="Create_QR_EV()">Tạo QR</a>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-sm-12 form-group">
                                                            <div class="contain-imgQR">
                                                                <div class="contain-QR">
                                                                    <img id="QR_EV" />
                                                                    <i id="QR_temp_EV" class="fa fa-qrcode" style="font-size:300px"></i>
                                                                </div>
                                                                <div style="color: #fff;margin-top:15px;">
                                                                    <ol style="padding-left: 15px;">
                                                                        <li>Mở ứng dụng Ngân hàng trên điện thoại</li>
                                                                        <li>Trên ứng dụng chọn tính năng <i class="fa fa-qrcode"></i> Quét mã QR</li>
                                                                        <li>Quét mã Q từ trang này và thanh toán</li>
                                                                    </ol>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="QR" role="tabpanel" aria-labelledby="QR-tab">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="contain-form">
                                                            <div class="text-center contain-logo">
                                                                <img src="~/images/logoev.png" />
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="Bank" class="col-md-3 col-xs-12 col-form-label">Ngân hàng </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <select class="form-control" id="Bank" name="Bank" required>
                                                                        <option value="">Chọn ngân hàng</option>
                                                                        @for (int i = 0; i < ListBank.Count; i++)
                                                                        {
                                                                            <option value="@ListBank[i].Bin">@ListBank[i].ShortName</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="AccountName" class="col-md-3 col-xs-12 col-form-label">Chủ tài khoản </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <input type="text" class="form-control" id="AccountName" name="AccountName" placeholder="NGUYEN VAN A" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="AccountNo" class="col-md-3 col-xs-12 col-form-label">Số tài khoản </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <input type="text" class="form-control" id="AccountNo" name="AccountNo" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="Amount" class="col-md-3 col-xs-12 col-form-label">Số tiền </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <input type="text" class="form-control" id="Amount" name="Amount" onchange="Amount()" placeholder="20,000,000" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group">
                                                                <label for="AddInfo" class="col-md-3 col-xs-12 col-form-label">Nội dung </label>
                                                                <div class="col-md-9 col-xs-12">
                                                                    <input type="text" class="form-control" id="AddInfo" name="AddInfo" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 form-group text-right">
                                                                <a class="btn btn-primary" href="#" onclick="Create_QR()">Tạo QR</a>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-sm-12 form-group">
                                                            <div id="contain-imgQR" class="contain-imgQR">
                                                                <div id="capture">
                                                                    <div class="contain-QR">
                                                                        <img id="QR_Per" />
                                                                        <i id="QR_temp" class="fa fa-qrcode" style="font-size:300px"></i>
                                                                    </div>
                                                                    <div style="color: #fff;margin-top:15px;">
                                                                        <ol style="padding-left: 15px;">
                                                                            <li>Mở ứng dụng Ngân hàng trên điện thoại</li>
                                                                            <li>Trên ứng dụng chọn tính năng <i class="fa fa-qrcode"></i> Quét mã QR</li>
                                                                            <li>Quét mã Q từ trang này và thanh toán</li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="contain-btn">
                                                                <a href="#" class="btn btn-default" title="Share" onclick="sharePicture()"><i class="fa fa-share" aria-hidden="true"></i></a>
                                                                <a href="#" class="btn btn-default" title="Copy" onclick="copyPicture()"><i class="fa fa-clone" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- REQUIRED SCRIPTS -->
    @Html.Partial("_Scripts")
    <!-- jQuery -->

    <script src="~/vendors/clipboard/clipboard.min.js"></script>
    <script src="~/js/html2canvas.min.js"></script>
    <script>
        $(document).ready(function () {
            var x = document.getElementById("MaKH").value;
            document.getElementById("AddInfo_EV").value = x + " topup";
            Bank_Account_EV();
        });
        function Amount() {
            var x = document.getElementById("Amount").value;
            x = x.toString();
            var pattern = /(-?\d+)(\d{3})/;
            while (pattern.test(x))
                x = x.replace(pattern, "$1,$2");
            document.getElementById("Amount").value = x;
        }
        function Bank_Account_EV() {
            var bin = document.getElementById("Bank_EV").value;
            $.ajax({
                type: "POST",
                url: "/QR/Account_Bank_EV",
                data: {
                    Bin: bin
                },
                success: function (response) {
                    document.getElementById("AccountName_EV").value = response.accountName;
                    document.getElementById("AccountNo_EV").value = response.accountNumber;
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        function SelectAmount() {
            var x = document.getElementById("SelectAmount").value;
            x = x.toString();
            var pattern = /(-?\d+)(\d{3})/;
            while (pattern.test(x))
                x = x.replace(pattern, "$1,$2");
            document.getElementById("Amount_EV").value = x;
        }
        function Edit_AddInfo_EV() {
            var x = document.getElementById("AddInfo_EV");
            x.toggleAttribute("readonly");
        }
        function Create_QR() {
            var Bank = document.getElementById("Bank").value;
            var AccountName = document.getElementById("AccountName").value;
            var AccountNo = document.getElementById("AccountNo").value;
            var Amount = document.getElementById("Amount").value;
            var AddInfo = document.getElementById("AddInfo").value;
            if (Bank == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Bạn phải chọn ngân hàng',
                    confirmButtonText: 'Đóng',
                });
            }
            else {
                if (AccountName == "") {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Bạn phải điền chủ tài khoản',
                        confirmButtonText: 'Đóng',
                    });
                }
                else {
                    var new_AccountName = AccountName.trim().replace(/\s+/g, '%20');
                    if (AccountNo == "") {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Bạn phải điền số tài khoản',
                            confirmButtonText: 'Đóng',
                        });
                    }
                    else {
                        var new_AccountNo = AccountNo.trim().replace(/\s+/g, '');
                        if (Amount == "") {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Bạn phải điền số tiền',
                                confirmButtonText: 'Đóng',
                            });
                        }
                        else {
                            var new_Amount = Amount.trim().replace(/\D/g, '')
                            if (AddInfo == "") {
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Bạn phải điền nội dung chuyển',
                                    confirmButtonText: 'Đóng',
                                });
                            }
                            else {
                                var new_AddInfo = AddInfo.trim().replace(/\s+/g, '%20');
                                var Link_QR = `https://img.vietqr.io/image/` + Bank + `-` + new_AccountNo + `-compact2.png?amount=` + new_Amount + `&addInfo=` + new_AddInfo + `&accountName=` + new_AccountName;

                                document.getElementById("QR_temp").setAttribute("style", "display:none;")
                                document.getElementById("QR_Per").setAttribute("src", Link_QR)
                            }
                        }
                    }
                }
            }
        }
        function Create_QR_EV() {
            var Bank_EV = document.getElementById("Bank_EV").value;
            var AccountName_EV = document.getElementById("AccountName_EV").value;
            var AccountNo_EV = document.getElementById("AccountNo_EV").value;
            var Amount_EV = document.getElementById("Amount_EV").value;
            var AddInfo_EV = document.getElementById("AddInfo_EV").value;
            if (Bank_EV == "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Bạn phải chọn ngân hàng',
                    confirmButtonText: 'Đóng',
                });
            }
            else {
                var new_AccountName_EV = AccountName_EV.trim().replace(/\s+/g, '%20');
                var new_AccountNo_EV = AccountNo_EV.trim().replace(/\s+/g, '');
                if (Amount_EV == "") {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Bạn phải điền số tiền',
                        confirmButtonText: 'Đóng',
                    });
                }
                else {
                    var new_Amount_EV = Amount_EV.trim().replace(/\D/g, '')
                    if (AddInfo_EV == "") {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Bạn phải điền nội dung chuyển',
                            confirmButtonText: 'Đóng',
                        });
                    }
                    else {
                        var new_AddInfo_EV = AddInfo_EV.trim().replace(/\s+/g, '%20');
                        var Link_QR = `https://img.vietqr.io/image/` + Bank_EV + `-` + new_AccountNo_EV + `-compact2.png?amount=` + new_Amount_EV + `&addInfo=` + new_AddInfo_EV + `&accountName=` + new_AccountName_EV;

                        document.getElementById("QR_temp_EV").setAttribute("style", "display:none;")
                        document.getElementById("QR_EV").setAttribute("src", Link_QR)
                    }
                }
            }
        }

        
        const convertImg = function canvasImg() {
            var a = document.createElement('img');
            html2canvas($('#capture'),
                {
                    onrendered: function (canvas) {
                        
                        // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
                        a.src = canvas.toDataURL("image/jpeg");
                        //a.download = 'somefilename.jpg';
                        //a.click()
                        //console.log(a);
                      
                    }
                });
            return a;
        }
        async function copyPicture() {
            const img = document.querySelector('#QR_Per')
            try {
                const a = convertImg();
                console.log(img.src);
                console.log(a);
                console.log(a.src);
                const response = await fetch(img.src);
                const blob = await response.blob();
                await navigator.clipboard.write([
                    new ClipboardItem({
                        [blob.type]: blob
                    })
                ]);
                console.log('Image copied.');
            } catch (err) {
                console.error(err.name, err.message);
            }
        };
        async function sharePicture() {
            try {
                const a = convertImg();
                const img = document.querySelector('#QR_Per')
                console.log(img.src);
                console.log(a.src);
                const response = await fetch(img.src);
                const blob = await response.blob();
                const files = [new File([blob], 'image.png', { type: blob.type })]

                
                console.log(files);
                
                const shareData = {
                    //text: 'Some text',
                    //title: 'Some title',
                    files,
                }
                if (navigator.canShare(shareData)) {
                    try {
                        await navigator.share(shareData)
                    } catch (err) {
                        if (err.name !== 'AbortError') {
                            console.error(err.name, err.message)
                        }
                    }
                } else {
                    console.warn('Sharing not supported', shareData)
                }
            } catch (err) {
                console.error(err.name, err.message);
            }
        };

       //const t = function canvasImg() {
       //     html2canvas($('#capture'),
       //     {
       //         onrendered: function (canvas) {
       //             var a = document.createElement('a');
       //             // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
       //             a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
       //             //a.download = 'somefilename.jpg';
       //             //a.click()
       //             console.log(a);
       //             return a;
       //         }
       //     });
            
       // }
        //$('#save_image_locally').click(function () {
        //    html2canvas($('#capture'),
        //    {
        //        onrendered: function (canvas) {
        //            var a = document.createElement('a');
        //            // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
        //            a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
        //            a.download = 'somefilename.jpg';
        //            a.click();
        //        }
        //    });

        //});
    </script>
</body>

</html>
